@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is([data-theme="dark"] *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.1 0 0);
  --primary: oklch(0.795 0.184 86.047);
  --primary-foreground: oklch(0.1 0 0);
  --border: oklch(0.1 0 0);
  --ring: oklch(0.1 0 0);

  --radius: 0.75rem;

  --shadow-offset-x: 0.15rem;
  --shadow-offset-y: 0.15rem;
}

[data-theme="dark"] {
  --background: oklch(0.25 0 0);
  --foreground: oklch(1 0 0);
  --primary: oklch(0.795 0.184 86.047);
  --primary-foreground: oklch(0.1 0 0);
  --border: oklch(0.1 0 0);
  --ring: oklch(1 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow: var(--shadow-offset-x) var(--shadow-offset-y) 0 0 var(--border);

  --icon-storke-width: 0.15rem;

  --font-display: var(--font-display);
  --font-text: var(--font-text);
}

@layer base {
  * {
    @apply border-border font-text outline-ring;
  }

  body {
    @apply bg-background text-foreground;
  }

  .lucide {
    stroke-width: var(--icon-storke-width);
  }
}
